<template>
  <div class="container">
    <div class="item_name">
      <input type="text" id="item_name" placeholder="Item Name" v-model="itemName" />
    </div>
    <div class="item_price">
      <input type="text" id="item_price" placeholder="Item Price" v-model="itemPrice" />
    </div>
    <div class="add-btn">
      <button @click="searchHandler">Add</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      itemName: "",
      itemPrice: "",
    };
  },

  methods: {
    searchHandler() {
      this.$store.state.loading = true;
      axios
        .post(
          "http://localhost:3000/seller/home",
          {
            name: this.itemName,
            price: this.itemPrice,
          },
          {
            headers: {
              Authorization: `Bearer ${this.$route.query.token}`,
            },
          }
        )
        .then((response) => {
          console.log(response);
          this.$store.state.itemArray.push({
            name: response.data.name,
            price: response.data.price,
          });
          this.itemName = "";
          this.itemPrice = "";
          this.$store.state.loading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  display: grid;
  place-items: center;
  margin-top: 2rem;

  input {
    border: none;
    background-color: rgb(240, 239, 239);
    padding: 1rem;
    margin-bottom: 1rem;
    width: 30rem;
    border-radius: 2rem;
    outline: none;
  }

  .add-btn {
    width: 30rem;
    margin-bottom: 1rem;
    button {
      width: 100%;
      padding: 1rem;
      border: none;
      outline: none;
      border-radius: 2rem;
      background-color: #00695c;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
</style>