<template>
  <div class="container">
    <div class="item_list" v-if="$store.state.itemArray.length">
      <div class="item" v-for="(item, index) in $store.state.itemArray" :key="index">
        <div class="item_desc">
          <div class="item_name">{{ item.name }}</div>
          <div class="item_price">₹ {{ item.price }}</div>
        </div>
        <button class="delete" @click="deleteItem(index, item.name)">Delete</button>
      </div>
    </div>
    <div class="loading-box" v-else>
      <div class="loader" v-if="$store.state.loading"></div>
    </div>
  </div>
</template>

<script>
import Axios from "axios";

export default {
  data() {
    return {};
  },

  created() {
    this.$store.state.loading = true;
    Axios.get("http://localhost:3000/seller/items", {
      headers: {
        Authorization: `Bearer ${this.$route.query.token}`,
      },
    })
      .then((response) => {
        console.log(response.data);
        this.$store.state.loading = false;
        this.$store.state.itemArray = response.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },

  methods: {
    deleteItem(index, name) {
      Axios.post(
        `http://localhost:3000/seller/item/${name}`,
        {},
        {
          headers: {
            Authorization: `Bearer ${this.$route.query.token}`,
          },
        }
      )
        .then((response) => {
          console.log(response);
          this.$store.state.itemArray.splice(index, 1);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  .item_list {
    margin: 0 10%;
    padding: 1rem;

    .item {
      padding: 1rem;
      color: #00695c;
      display: flex;
      // border: 1px solid black;
      margin: 0.5rem;
      border-radius: 2rem;
      box-shadow: 2px 2px 2px 2px rgb(207, 206, 206);
      justify-content: space-between;

      .item_desc {
        .item_name {
          font-size: 2rem;
          font-weight: bold;
          text-transform: uppercase;
        }

        .item_price {
          padding: 0.5rem 0;
          font-size: 1rem;
          font-weight: bold;
        }
      }

      .delete {
        cursor: pointer;
        align-self: flex-start;
        border: none;
        outline: none;
        padding: 1rem;
        color: white;
        background-color: #00695c;
        border-radius: 2rem;
      }
    }
  }
  .loading-box {
    display: grid;
    place-items: center;
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #00695c;
      width: 60px;
      height: 60px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
</style>