<template>
  <div class="navbar">
    <div class="logo">
      <h3 v-t="'nav.title'"></h3>
    </div>
    <div class="account-type">
      <button @click="changeAccount" v-if="accountName">{{ accountName }}</button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    accountName: {
      type: String,
    },
  },
  data() {
    return {
      name: "Hello Shivam",
    };
  },
  methods: {
    changeAccount() {
      if (this.accountName === "User Login") {
        window.location.href = "/";
      } else {
        window.location.href = "/sellerLogin";
      }
    },
  },
};
</script>

<style scoped lang="scss">
.navbar {
  background-color: #00695c;
  display: flex;
  justify-content: space-between;
  .logo {
    h3 {
      margin: 0;
      padding: 1rem 0.5rem;
      color: white;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  .account-type {
    display: grid;
    place-items: center;
    padding: 0.5rem;

    button {
      padding: 0.8rem;
      background-color: white;
      border: none;
      outline: none;
      color: #00695c;
      cursor: pointer;
      border-radius: 1rem;
    }
  }
}
</style>