<template>
  <div class="container">
    <div class="login-card">
      <div class="card-header">
        <p>Sign Up</p>
      </div>
      <form>
        <div class="username">
          <input type="text" id="username" placeholder="Username" v-model="user.username" />
        </div>
        <div class="email">
          <input type="text" id="email" placeholder="Email" v-model="user.email" />
        </div>
        <div class="password">
          <input type="password" id="password" placeholder="Password" v-model="user.password" />
        </div>
        <div class="submit-btn">
          <button @click.prevent="submit">sign in</button>
        </div>
      </form>
      <div class="sign-up">
        <p>Doesn't have an account?</p>
        <p>
          <span @click="login">log in now</span>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      user: {
        email: "",
        username: "",
        password: "",
      },
    };
  },

  methods: {
    submit() {
      axios
        .post(`http://localhost:3000/user/signup`, {
          username: this.user.username,
          email: this.user.email,
          password: this.user.password,
        })
        .then((response) => {
          console.log(response);
          window.location.href = `/userHome?token=${response.data.token}`;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    login() {
      window.location.href = "/";
    },
  },

  created() {},
};
</script>

<style scoped lang="scss">
.container {
  height: 90vh;
  display: grid;
  place-items: center;

  .login-card {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px 5px #ececec;
    background-color: #00695c;
    .card-header {
      text-align: center;
      overflow: hidden;
      p {
        margin: 0;
        color: white;
        font-weight: 600;
        padding: 2rem;
        font-size: 1.5rem;
      }
    }
    form {
      padding: 2rem;
      background-color: white;
      padding-bottom: 6rem;

      input {
        border: none;
        background-color: rgb(240, 239, 239);
        padding: 1rem;
        margin-bottom: 1rem;
        width: 20rem;
        border-radius: 2rem;
        outline: none;
      }

      button {
        width: 100%;
        padding: 1rem;
        border: none;
        outline: none;
        border-radius: 2rem;
        background-color: #00695c;
        color: white;
        text-transform: uppercase;
        cursor: pointer;
      }
    }

    .sign-up {
      text-align: center;
      background-color: white;
      padding-bottom: 2rem;
      p {
        margin: 0;
        padding: 0.2rem;
        color: grey;
      }
      span {
        text-transform: uppercase;
        color: #00695c;
        cursor: pointer;
        font-size: 0.8rem;
        font-weight: 800;
      }
    }
  }
}
</style>