<template>
  <div class="container">
    {{ $store.state.token }}
    <div class="search-box">
      <input type="text" id="item_name" placeholder="Item Name" v-model="itemName" />
    </div>
    <div class="search-btn">
      <button @click="searchHandler">Search</button>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      itemName: "",
    };
  },

  methods: {
    searchHandler() {
      this.$store.state.loading = true;
      navigator.geolocation.getCurrentPosition((pos) => {
        console.log(pos.coords);
        axios
          .post(
            `http://localhost:3000/home`,
            {
              itemName: this.itemName,
              latitude: pos.coords.latitude,
              longitude: pos.coords.longitude,
            },
            {
              headers: {
                Authorization: `Bearer ${window.localStorage.getItem("token")}`,
              },
            }
          )
          .then((response) => {
            console.log(response);
            this.$store.state.shopArray = response.data;
            this.$store.state.loading = false;
          })
          .catch((error) => {
            console.log(error);
          });
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  display: grid;
  place-items: center;
  .search-box {
    display: inline-block;
    margin-top: 2rem;
    input {
      border: none;
      background-color: rgb(240, 239, 239);
      padding: 1rem;
      margin-bottom: 1rem;
      width: 30rem;
      border-radius: 2rem;
      outline: none;
    }
  }

  .search-btn {
    width: 30rem;
    margin-bottom: 1rem;
    button {
      width: 100%;
      padding: 1rem;
      border: none;
      outline: none;
      border-radius: 2rem;
      background-color: #00695c;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
</style>