<template>
  <div class="container">
    <div class="shop_list" v-if="$store.state.shopArray.length">
      <div class="shop" v-for="shop in $store.state.shopArray" :key="shop.shopName">
        <div class="shop_name">{{ shop.shopName }}</div>
        <div class="shop_address">{{ shop.shopAddress }}</div>
      </div>
    </div>
    <div class="loading-box" v-else>
      <div class="loader" v-if="$store.state.loading"></div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
.container {
  .shop_list {
    margin: 0 10%;
    padding: 1rem;

    .shop {
      padding: 1rem;

      .shop_name {
        font-size: 2rem;
        font-weight: bold;
        color: #00695c;
      }

      .shop_address {
        padding: 0.5rem 0;
        font-size: 1rem;
        font-weight: bold;
        color: #00695c;
      }
    }
  }
  .loading-box {
    display: grid;
    place-items: center;
    .loader {
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #00695c;
      width: 60px;
      height: 60px;
      -webkit-animation: spin 2s linear infinite; /* Safari */
      animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
</style>