<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
  <script src="/js/index.js" type="module" defer></script>
</head>

<body>
  <div id="app"></div>
</body>

</html>