html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0069c0; }

.login-form {
  height: 100vh; }
  .login-form form {
    padding: 3rem;
    max-width: 30rem;
    margin: 16rem auto;
    border-radius: 0.2rem;
    background-color: white; }
    .login-form form input {
      width: 100%;
      padding: 1rem;
      background-color: #e0dede;
      border: none;
      margin: 0.5rem 0; }
    .login-form form .submit-button {
      margin-top: 1rem; }
      .login-form form .submit-button button {
        width: 100%;
        cursor: pointer;
        padding: 1rem;
        border: none;
        color: white;
        background-color: #0069c0; }
    .login-form form .create-new p {
      text-align: center; }
      .login-form form .create-new p a {
        color: #0069c0;
        text-decoration: none; }

.seller-home {
  margin: 2rem auto;
  width: 80%;
  padding: 3rem;
  background-color: white; }
  .seller-home input {
    width: 100%;
    padding: 1rem;
    background-color: #e0dede;
    border: none;
    margin: 0.5rem 0; }
  .seller-home .add,
  .seller-home .search {
    border: none;
    outline: none;
    padding: 1rem;
    width: 20%;
    color: white;
    background-color: #6f6fdf; }

.shop-list {
  width: 80%;
  margin: 4rem auto;
  font-family: Arial, Helvetica, sans-serif; }
  .shop-list .shop {
    background-color: white;
    padding: 1rem;
    margin: 2rem 0; }
    .shop-list .shop .shop-name {
      font-size: 2rem;
      margin: 0.5rem 0; }
    .shop-list .shop .shop-distance {
      margin-top: 1rem; }
