<template>
  <div class="container">
    <Navbar :accountName="'User Login'"></Navbar>
    <SellerSignupCard></SellerSignupCard>
  </div>
</template>

<script>
import SellerSignupCard from "../components/SellerSignupCard.vue";
import Navbar from "../components/Navbar";

export default {
  components: {
    SellerSignupCard,
    Navbar,
  },
};
</script>

<style lang="scss">
body {
  margin: 0;
  padding: 0;
}
</style>
