<template>
  <div class="container">
    <AddItem></AddItem>
    <ItemList></ItemList>
  </div>
</template>

<script>
import AddItem from "../components/AddItem.vue";
import ItemList from "../components/ItemList.vue";

export default {
  components: {
    AddItem,
    ItemList,
  },
};
</script>

<style lang="scss" scoped>
</style>