<template>
  <div class="container">
    <Navbar :accountName="'Seller Login'"></Navbar>
    <LoginCard user="user"></LoginCard>
  </div>
</template>

<script>
import LoginCard from "../components/LoginCard.vue";
import Navbar from "../components/Navbar";

export default {
  components: {
    LoginCard,
    Navbar,
  },
};
</script>

<style lang="scss">
body {
  margin: 0;
  padding: 0;
}
</style>
