<template>
  <div class="container">
    <UserSearch></UserSearch>
    <UserSearchResult></UserSearchResult>
  </div>
</template>

<script>
import UserSearch from "../components/UserSearch.vue";
import UserSearchResult from "../components/UserSearchResult.vue";

export default {
  components: {
    UserSearch,
    UserSearchResult,
  },
  computed: {},
};
</script>

<style lang="scss" scoped>
</style>