<template>
  <div class="container">
    <Navbar :accountName="'Seller Login'"></Navbar>
    <SignupCard></SignupCard>
  </div>
</template>

<script>
import SignupCard from "../components/SignupCard.vue";
import Navbar from "../components/Navbar";

export default {
  components: {
    SignupCard,
    Navbar,
  },
};
</script>

<style lang="scss">
body {
  margin: 0;
  padding: 0;
}
</style>
