<template>
  <div class="container">
    <router-view></router-view>
  </div>
</template>

<script>
import UserLogin from "./screens/UserLogin.vue";

export default {
  created() {
    this.$store.state.name = "shivam";
  },
};
</script>

<style lang="scss">
body {
  margin: 0;
  padding: 0;
}
</style>
