html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0069c0;
}

.login-form {
    height: 100vh;
    form {
        padding: 3rem;
        max-width: 30rem;
        margin: 16rem auto;
        border-radius: 0.2rem;
        background-color: white;
        input {
            width: 100%;
            padding: 1rem;
            background-color: rgb(224, 222, 222);
            border: none;
            margin: 0.5rem 0;
        }

        .submit-button {
            margin-top: 1rem;
            button {
                width: 100%;
                cursor: pointer;
                padding: 1rem;
                border: none;
                color: white;
                background-color: #0069c0;
            }
        }

        .create-new {
            p {
                text-align: center;
                a {
                    color: #0069c0;
                    text-decoration: none;
                }
            }
        }
    }
}

.seller-home {
    margin: 2rem auto;
    width: 80%;
    padding: 3rem;
    background-color: white;

    input {
        width: 100%;
        padding: 1rem;
        background-color: rgb(224, 222, 222);
        border: none;
        margin: 0.5rem 0;
    }
    .add,
    .search {
        border: none;
        outline: none;
        padding: 1rem;
        width: 20%;
        color: white;
        background-color: rgb(111, 111, 223);
    }
}

.shop-list {
    width: 80%;
    margin: 4rem auto;
    font-family: Arial, Helvetica, sans-serif;
    .shop {
        background-color: white;
        padding: 1rem;
        margin: 2rem 0;
        .shop-name {
            font-size: 2rem;
            margin: 0.5rem 0;
        }
        .shop-distance {
            margin-top: 1rem;
        }
    }
}
